	body {
		margin: 0;
		background: rgb(71, 79, 105);
	}
	.container {
		background: rgb(92, 96, 129);
	}

	header {
		background: rgb(169, 206, 203);
		min-height: 4.5em;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
	}
	header h1 {
		margin: 0;
		text-indent: -9999px;
		overflow: hidden;
	}

	.refresh {
		background: rgb(71, 79, 105);
		max-width: 25em;
		margin-top: 4.5em;
		margin-left: auto;
		margin-right: auto;
		/*padding: 1.5em;*/
		text-align: center;
		position: relative;
		/* animate margin-top:-200px or something; */
		margin-bottom: -180px
	}

	.refresh svg {
		display:block;
	}

	#bridgecontainer {
		width: 100%;
		height: 355.56px;
		background: #fff;
	}
	.refresh svg#spaceship {
		height: 5em; /* 80px / 16px */
		width: 3.25em; /* 52px / 16px */
		position: absolute;
		top: 99px;
		left: 50%;
		margin-left: -1.625em; /* 3.25 / 2 */
	}

	@keyframes shake {
		0 {
			transform: rotate(-1deg);
		}
		50% {
			transform: rotate(1deg);
		}
		100% {
			transform: rotate(-1deg);
		}
	}

	.prelaunch-animation #spaceship {
		animation: shake 0.1s infinite;
	}

	.animated .refresh {
		transition: margin-top 0.4s;
	}
	.animated .refresh svg {
		transition: all 1s ease-in;
	}
	.inactive .refresh {
		margin-top: -8em; /* ship height + padding top + padding bottom */
	}
	.lift-off .refresh svg {
		transform: translateY(-200%);
	}

	.bubble {
		background: rgb(69, 111, 168);
		border-radius: 50%;
		width: 1.5em;
		height: 1.5em;
		display: inline-block;
		display: none;
	}

	ul,
	li {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}

	ul {
		margin-top: 0;
		background: white;
		max-width: 22em;
		margin-left: auto;
		margin-right: auto;
		padding: 1.5em;
	}

	li {
		margin-top: 3em;
		position: relative;
	}
	li h2,
	li p {
		background: rgb(220, 235, 234);
		text-indent: -9999px;
		overflow: hidden;
	}
	li h2 {
		margin-bottom: 0;
		border-top-left-radius: 0.25em;
		border-top-right-radius: 0.25em;
		min-height: 3em;
		font-size: inherit;
	}
	li p {
		margin-top: 0.375em;
		border-bottom-left-radius: 0.25em;
		border-bottom-right-radius: 0.25em;
		min-height: 9em;
	}
	li .image {
		background: rgb(169, 206, 203);
		border-radius: 50%;
		width: 3em;
		height: 3em;
		position: absolute;
		top: -1.5em;
		left: 50%;
		margin-left: -1.5em;
	}

	.ship-outline {
		fill: rgba(0, 0, 0, 0.25);
	}
	.ship-panels {
		fill: rgb(169, 206, 203);
	}
	.ship-fins {
		fill: rgb(224, 71, 71);
	}
	.ship-window {
		fill: rgb(220, 235, 234);
	}

	#bridgeshape {
		fill: rgb(71, 79, 105);
	}
